:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #f0ebeb;
  color: #1f1f29;

  box-sizing: border-box;
  --bgWhite: #f0ebeb;
  --bgBlack: #1f1717;
  --txtWhite: #f9f4f4;
  --txtBlack: #1f1f29;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.board {
  display: flex;
}

.pokemon-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
}

.pokemon-card {
  background-color: var(--bgWhite);
  color: var(--txtBlack);
  border: 1px solid var(--txtBlack);
  border-radius: 2px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.pokemon-image {
  width: 100px; /* Set the desired width */
  height: 100px; /* Set the desired height */
}
